img {
	width: 100%;
	height: auto;
}

.modal-wrapper {
    position: fixed;
    background: hsla(50, 100%, 50%, 0.7);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transition: opacity 1.2s;
    opacity: 0;
    pointer-events: none;
}
.modal-wrapper.open {
	opacity: 1;
	pointer-events: all;
}
.modal-body {
	max-width: 600px;
	min-width: 400px;
	padding: 2rem;
	border-radius: 5px;
	min-height: 200px;
	background: #fff;
    transform: translateY(-200%);
	transition: transform 1.2s;
}
.modal-wrapper.open .modal-body {
	transform: translateY(0);
}
.modal-body img{
	width: 100%;
	margin-bottom: 1.2rem;
}
